/* src/Styles/loader.css */
.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a tela toda */
    background-color: #1a1a1a; /* Fundo escuro para destacar o neon */
}

.spinner {
    background-image: linear-gradient(rgb(22, 128, 24) 35%, rgb(73, 158, 87));
    width: 100px;
    height: 100px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(6, 196, 22), 0px 5px 20px 0px rgb(73, 139, 82);

    /* Centralizar o miolo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner1 {
    background-color: rgb(35, 34, 34);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
}

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}